<!DOCTYPE html>
<html lang="en">

<head>
    <title>Autocry Bimop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Service 1</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/sharks" class="nav-link">Crypt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Want to learn about us?</h1>
            <p>Our motto</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/sharks" role="button">Go to app</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>AUTONOMOUS CRYPTIC BIOMETRIC MONOVULAR PASSCODE RENDERING</h3>
                <p> Internet has eased out our life by providing us various services spread over numerous domains as in 
                    social media, online shopping, bank transaction and online education. Where each service or website
                    having their own authentication procedure wherein a user has to enter a unique username with the 
                    corresponding password. Due to security reasons it is advisable to have different passwords for different
                    website, memorizing all the passwords is a tedious task and, in some cases, it is not humanly possible. 
                    Also giving the authority, power and value these credentials might hold, storing them in a plain text 
                    file or at a third-party vendor database poses a serious threat and might result into a humongous loss 
                    of a person’s privacy and resources. Our main aim is to develop a web-application to solve this problem, 
                    following the microservice architecture; build, test, stage and deploy it using DevOps toolkit. 
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Security</h3>
                <p>Secure password login
                </p>
            </div>
        </div>
    </div>
</body>
</html>
