<!DOCTYPE html>
<html lang="en">

<head>
    <title>Autocry Bimop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Service 1</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/sharks" class="nav-link">Crypt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Want to learn about us?</h1>
            <p>Our motto</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/sharks" role="button">Get Shark Info</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Moving towards free internet</h3>
                <p> Data Security Solutions
Micro Focus drives leadership in data security solutions with over 80 patents and 51 years of expertise. With advanced data encryption, tokenization, and key management to protect data across applications, transactions, storage, and big data platforms, Micro Focus simplifies the protection of sensitive data in even the most complex use cases.

Cloud access security – Protection platform that allows you to move to the cloud securely while protecting data in cloud applications.
Data encryption – Data-centric and tokenization security solutions that protect data across enterprise, cloud, mobile and big data environments.
Hardware security module -- Hardware security module that guards financial data and meets industry security and compliance requirements.
Key management -- Solution that protects data and enables industry regulation compliance.
Enterprise Data Protection – Solution that provides an end-to-end data-centric approach to enterprise data protection.
Payments Security – Solution provides complete point-to-point encryption and tokenization for retail payment transactions, enabling PCI scope reduction.
Big Data, Hadoop and IofT data protection – Solution that protects sensitive data in the Data Lake – including Hadoop, Teradata, Micro Focus Vertica, and other Big Data platforms.
Mobile App Security - Protecting sensitive data in native mobile apps while safeguarding the data end-to-end.
Web Browser Security - Protects sensitive data captured at the browser, from the point the customer enters cardholder or personal data, and keeps it protected through the ecosystem to the trusted host destination
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Security</h3>
                <p>Secure password login
                </p>
            </div>
        </div>
    </div>
</body>
</html>
